img{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px double rgb(17, 16, 16);
}
.content{
    background-color: rgb(82, 204, 139);
    padding: 30px;
    margin: 100px;
    border: 2px solid black;
}
.content1{
    background-color: rgb(82, 204, 139);
    padding: 30px;
    margin: 100px;
    border: 2px solid black;
}
table{
    width: 80%;
}